@page
@model BookShop2.Web.Areas.Admin.Pages.Books.IndexModel

@{
    ViewData["Title"] = "BookIndex";
}


<div class="container mt-5">
    <h2 class="text-primary">Book List</h2>
    <table class="table table-bordered table-striped mt-3 ">
        <thead class="table-primary">
            <tr>
               
                <th>Name</th>
                <th>Author</th>
                <th>Price</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.BookList.Any() && Model!=null)
            {
                foreach (var book in Model.BookList)
                {
                    <tr>
                        <td>@book.Name</td>
                        <td>@book.Author</td>
                        <td>$@book.Price</td>
                        <td>@book.BookCategoryName</td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@book.Id" class="btn btn-warning btn-sm">Edit</a>
                            <a asp-page="./BookDetails" asp-route-id="@book.Id" class="btn btn-info btn-sm">Details</a>
                            <a asp-action="Delete" asp-route-id="@book.Id" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this book?');">Delete</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8" class="text-center">No books available.</td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-page="/Books/Create" class="btn btn-primary">Add New Book</a>
</div>
